@model IEnumerable<DatabaseModels.User>

@{
    ViewData["Title"] = "Index";
}

@section Users{

    <form asp-action="SearchUser">
        <input />
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
}
