@model DatabaseModels.User

@{
    ViewData["Title"] = "Log In";
    Layout = "_Layout";
}
@section Login
{
    <head>
        <link href="~/css/signin.css" rel="stylesheet" type="text/css">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @@media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>
    <body class="text-center">

        <main class="form-signin">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1 class="h3 mb-3 fw-normal">Sign in</h1>
                <div class="form-floating">
                    <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                    <label asp-for="Email" for="floatingInput">Email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <label asp-for="Password" for="floatingPassword">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <a class="btn-link" asp-controller="Users" asp-action="Create">Don't have an account?<br /> Create one!</a>
                @*<a class="btn-link" asp-controller="Users" asp-action="Create">Forgot your password?</a>*@
            </form>
        </main>
    </body>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}